<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Projeto</title>
    <style>
        .div1{ margin-inline-start: 40%;

        }
        .corBranca{color: aliceblue;}

    </style>
</head>

<body style="background-color: black;">
<div class="div1"><h1 style="color: aliceblue;">Estoque Produtos</h1></div>

<table>

    <tr>     <td><h2 style="margin-inline-start: 240%;color: aliceblue;">Produtos</h2> 
        </td>     <td><h2 style="margin-inline-start: 380%;color: aliceblue;">Quantidade</h2></td> 
        <td> <h2 style="margin-inline-start: 1130%;color: aliceblue;">Preço</h2></td>    </tr>

</table>


<table>
    <tr>
        <td style="width: 53%;"> <ul style="width: 60%;padding-left: 50%;">
            <li class="corBranca">Calça Preta</li>
            <li class="corBranca">Camisa Vermelha</li>
            <li class="corBranca">Sapato Azul</li>
            <li class="corBranca">Tênis Preto e branco</li>
        </ul></td>

        <td style="width: 35%;"><ul style="margin-left:25%;" >
            <li class="corBranca">500 UN</li>
            <li class="corBranca">400 UN</li>
            <li class="corBranca">300 UN</li>
            <li class="corBranca">200 UN</li>
        </ul></td>

        <td style="width: 30%;padding-left: 5%;";><ul style="width: 350%;" >
            <li class="corBranca">R$ 70,50</li>
            <li class="corBranca">R$ 30,40</li>
            <li class="corBranca">R$ 120,00</li>
            <li class="corBranca">R$ 270,50</li></ul></td>
    </tr>
</table>

</body>
</html>